root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4

[*.toml]
indent_style = space
indent_size = 4

[*.sh]
indent_style = tab

[*.fish]
indent_style = space
indent_size = 4

[*.md]
indent_style = space
indent_size = 2

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
