services:
  graphmind:
    build: .
    restart: unless-stopped
    environment:
      TIMERS: "1"
      LOG_LEVEL: "debug"
      ALLOWED_ORIGINS: "https://graphmind.maleldil.com"
      API_ENV: "production"
    env_file:
      - .env
    expose:
      - "8000"

  caddy:
    image: caddy:2
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data

volumes:
  caddy_data:
