services:
  graphmind:
    build: .
    restart: unless-stopped
    environment:
      TIMERS: "1"
      LOG_LEVEL: "debug"
      ALLOWED_ORIGINS: "https://oyarsa.github.io"
      API_ENV: "production"
      PYTHONWARNINGS: "ignore::SyntaxWarning:openreview"
    env_file:
      - .env
    expose:
      - "8000"

  caddy:
    image: caddy:2
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data

  netdata:
    image: netdata/netdata
    restart: unless-stopped
    ports:
      - "127.0.0.1:19999:19999"
    cap_add:
      - SYS_PTRACE
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

volumes:
  caddy_data:
